<table>

    <tr>
        <th>Name</th>
        <th>LastName</th>
    </tr>

    <% data.forEach(d => { %>
        <tr>
            <td><%= d.admin_name %></td>
            <td><%= d.admin_surname %></td>
        </tr>

        
    <% }); %>        
    
</table> 


