
<div id="main-box">

    <form id="form-content" action="" method="get">
        
        <img id="main-img" src="" alt="main-Img"> 
        <input id="upload" type="file">
        
        <textarea name="heading" id="heading" >You're header goes here...</textarea>
        <textarea name="article" id="article" cols="50" rows="20">Your text goes here...</textarea>
    </form>

</div>


