<div id="dashboard">

    <form action="/dashboard" method="get">
        <button onclick="adminBtn()">New topic</button>
        <button>All my topics</button>
        <button>manage comments</button>
        <button type="submit">logout</button>
    </form>

</div>