<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qadmin</title>
</head>
<body>

    
    <div id="main">
        <%- include('superDashboard.ejs') %>
        <p>main content</p>
    </div>

    <table>

        <% data.forEach(d => { %>
            <tr>
                <th><%= d.admin_name %></th>
                <th><%= d.admin_surname %></th>
            </tr>

            <%= d.admin_name; %>
        <% }); %>        
        
    </table>
    
</body>
</html>