<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qadmin</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
</head>
<body>
    
    <div id="main-nav">
        <%- include('superDashboard.ejs') %>
    </div>

    <div id="display">
        
    </div>


    <script src="/js/dashboard.js"></script>
    <script src="/js/dashboardScript/dash.js"></script>
</body>
</html>