<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>

    <div id="main-header">
        <div id="logo-div">
            <img src="" alt="img.jpg">
        </div>
        <ul>
            <li>Hardwer</li>
            <li>Softwer</li>
            <li>Network</li>
            <li>Code</li>
            <li>Other</li>
            <li>About Us</li>
        </ul>
    </div>

    <div id="main-article">
        <div id="left-side">
            <div id="first-img">

            </div>
            <div id="secend-img">

            </div>
        </div>
        <div id="right-side">
            <div id="top">
                <div id="top-left"></div>
                <div id="top-right"></div>
            </div>
            <div id="bottom"></div>
        </div>
    </div>

    <div id="content">

    </div>
    
    <script src="js/home.js"></script>
</body>
</html>