<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <form action="/login" method="POST">
        <%- include('partials/messageError.ejs') %>
        <p>E-Mail</p>
        <input name="email" type="text">
        <p>Password</p>
        <input name="password" type="text">
        <button>Cancled</button>
        <button type="submit">Enter</button>
    </form>

</body>
</html>