<div id="dashboard">

    <form action="/qdashboard" method="get">
        <button type="button" id="newTopic_btn">New topic</button>
        <button type="button" id="myTopic_btn">All my topics</button>
        <button type="button" id="manage_btn">manage comments</button>
        <button type="button" id="adminM_btn">admins manager</button>
        <button type="submit">logout</button>
    </form>

</div>