<div id="dashboard">

    <form action="/qdashboard" method="get">
        <button>New topic</button>
        <button>All my topics</button>
        <button>manage comments</button>
        <button>admins manager</button>
        <button type="submit">logout</button>
    </form>

</div>