<div id="dashboard">

    <form action="/qdashboard" method="get">
        <button type="button" id="newTopic_btn" onclick="new_topicBtn()">New topic</button>
        <button type="button" id="myTopic_btn" onclick="my_TopicBtn()">All my topics</button>
        <button type="button" id="manage_btn" onclick="manageCom_btn()">manage comments</button>
        <button type="button" id="adminM_btn" onclick="adminBtn()">admins manager</button>
        <button type="submit">logout</button>
    </form>

</div>