body, html {
    width: 100%;
    margin: 0px;
    font-family: "Roboto",sans-serif;
}

/*HEADER*/
#main-header {
    background: #21292F;
    color: white;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100000010;

}
#logo-div {
    display: inline-block;
    flex: 1;
    margin: 0px 0px 0px 30px;
}
#main-header #main-ul {
    margin: 0;
    flex: 2;
    z-index: 1;
  
}

#main-header #main-ul .main_list{
    display: inline-block;
    margin: 0px 10px;
}

#main-header #main-ul li .hrefMainList {
    color: white;
    text-decoration: none;
}

#main-header #main-ul li a:hover {
    color: #fc8f00;
    cursor: pointer;
}

#main-header #main-ul li:hover{
    color: #fc8f00;
    cursor: pointer;
}

#main-header a {
    flex: 0.2;
}

#main-header a:hover {
    color: #fc8f00;
    cursor: pointer;
}

#nav-other {
    position: absolute;
    background: #ffffff;
    height: 200px;
    width: 100%; 
    left: 0;
    padding: 15px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
    display: none; /**/
}

.nav-other-menu {
    padding: 0px 10px;
    
}

#container-nav-other-tags {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 0px 30px;
}
#nav-other .nav-other-menu .tag{
    list-style: none;
    margin: 0px 0px 15px 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.tagHref {
    color: black;
    text-decoration: none;
}

#drop-nav p {
    margin: 0px 0px 0px 0px;
}

/* #drop-nav:hover .nav-other {
    display: block;
    
} */

/* .nav-other:hover {
    display: block;
} */


#dark-backgrund {
    width: 100vw;
    height: 100vh;
    background: #00000091;
    position: fixed;
    display: none; /**/
} 

/*MAIN ARTICLE*/

#main-article {
    max-width: 1080px;
    width: 100%;
    height: 400px;
    background: #21292F;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    /* gap: 5px; */
    
}

#leftFlank {
    
    display: grid;
    grid-template-rows: 60% 40%;
    /* gap: 5px; */
    border: 4px solid #21292F;
}

#leftFlank #topLImg { 
    background: green;
    border-bottom: 4px solid #21292F;
}

#downRight {
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#leftFlank #downLImg {
   
    background: yellow;
}

#midleFlank {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    /* gap: 5px; */
    border-top: 4px solid #21292F;
    border-bottom: 4px solid #21292F;
}

#midleFlank  #topLeft{
    background: orange;
    border-right: 4px solid #21292F;
    border-bottom: 4px solid #21292F;
}

#midleFlank #topRight{
    background: orchid;
    border-bottom: 4px solid #21292F;
}

#midleFlank #downLeft{
    background: palegreen;
    border-right: 4px solid #21292F;
}

#midleFlank #downRight{
    background: purple;
}


#rightFlank {
    display: grid;
    grid-template-rows: 40% 60%;
    /* gap: 5px; */
    border: 4px solid #21292F;
}

#rightFlank #topRImg{
    background: aqua;
    border-bottom: 4px solid #21292F;
}

#rightFlank #downRImg{
    background: beige;
}

/* #topLImg, #downLImg,#topLeft,#topRight,#downLeft,#downRight,#topRImg,#downRImg {
    
}*/
.dark-back {
    width: 100%;
    height: 100%;
    max-height: 231;
    background: #0000004b;
    display: grid;
    align-content:end;

} 

.artc-info {
    padding: 0px 0px 0px 0px;
    max-width: 316;
}

.artc-info h1, p {
    color: white;
} 

.artc-info h1 {
    font-size: 23px;
    margin: 0px 0px 10px 10px;
}

.artc-info h1:hover {
    color: #fc8f00;
    cursor: pointer;
}

.artc-info p {
    display: inline-block;
    margin: 10px;
}

#downLImgInfo h1 {
    font-size: 20px;
}

.rightTopAndleftBottom h1{
    font-size: 20px;
}

.midInfo h1 {
    font-size: 15px;
}

/*CONTENT*/
#contents {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid: grid;
    grid-template-columns: 800px 280px;
    grid-template-rows: repeat(20%, 10);
}

.content {
    display: grid;
    margin: 20px 0px;
    width: 74%;
    grid-template-columns: 46% 54%;
    grid-template-rows: 150px;
    float: left;
    
}

.content .img {
    /* background: red; */
    height: 130px;
}

.content .left-flank{
    /* background: blue; */
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
}

.content .left-flank .authorInfo {
    padding-top: 5px;
}

.text h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}

.text h1:hover {
    color: #fc8f00;
    cursor: pointer;
}

.text h2 {
    font-size: 15px;
    opacity: 0.6;
    font-weight: 400;
    margin: 5px 0px 0px 0px;
}
.content .authorInfo div:first-child {
    margin: 4px 0px;

}

.authorInfo div a {
    color: white;
    background: #21292F;
    padding: 5px 20px;
    border-radius: 10%;
    font-size: 10px;
    text-decoration: none;
}

.authorInfo p {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

/*SIDE ARTICLE*/

#side-article {
    display: inline-block;
    width: 280px;
}

#side-content {
    display:  inline-block;
    margin: 0px 0px 20px 0px;
}

#text-side-article h1 {
    font-size: 20px;
    font-weight: 600;
}

#text-side-article div {
    border-top: solid black 2px;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

#side-content p {
    margin: 5px 0px;
}

/*bottom nav*/

#bottom-nav {
    max-width: 1080px;
    margin: 10px auto;
}

#bottom-nav #line {
    border-top: black solid 3px;
    width: 100%;
}

#nav-num {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

#nav-num button {
    border: solid black 1px;
    background: white;
    width: 50px;
    padding:5px;

}

#nav-num button:hover {
    cursor: pointer;
    background: #fc8f00;
    color: white;
}

#nav-num button:first-child {
    width: 80px;
}

#nav-num button:last-child{
    width: 80px;
}


/*FOOTER*/

#footer {
    height: 400px;
    background: #21292F;
    margin: 80px 0px 0px 0px;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    color: white;
    padding: 20px 0px 0px 20px;
}

#contactUs {
    display: grid;
    grid-template-columns: 10% 90%;
}

#contactUs #contactUs-line {
    border-left: solid white 1px;
    height: 60%;
    display: inline-block;
    margin: 80px 0px 0px 0px ;
}

#contactUs #contactUs-info {
    display: inline-block;
}

#contact-btt {
    margin: 40px 0px;
}

#contactUs #contactUs-info button {
   display: block;
   width: 240px;
   border: solid black 1px;
   background: white;
   margin: 10px 0px;

}


#followUs{
    display: grid;
    grid-template-columns: 10% 90%;
}

#followUs #followUs-line {
    border-left: solid white 1px;
    height: 60%;
    display: inline-block;
    margin: 80px 0px 0px 0px ;
}

#followUs-info-content {
    display: grid;
    grid-template-columns: 20% 20%;
}

#textSocial p:hover {
    color: #fc8f00;
    cursor: pointer;
}


#icons button {
   display: block;
   margin: 16px 0px;
    
}

#quickNav {
    display: grid;
    grid-template-columns: 20% 90%;
    width: 300px;
}

#quickNav #quickNav-line {
    border-left: solid white 1px;
    height: 60%;
    display: inline-block;
    margin: 80px 0px 0px 0px ;

}

#quickNav-content {
    margin: 0px 0px;
}
#quickNav-text {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 0px 0px 0px;
    
}

#quickNav-text p:hover {
    color: #fc8f00;
    cursor: pointer;
}

#copyRight {
    background: #21292F;
    color: white;
    margin: 0;
    border-top: solid #707070 1px ;
}

#copyRight p {
    margin: 0px;
    padding:10px;
    font-size: 13px;
}
