.box {
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
   
}
.box:nth-child(odd) {
    background: #804b4b;
  }
  

 .myTopic_h1, .myTopic_p1 {
    margin: 0;
    margin-left: 10px;
}

.myTopic_img {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.tags {
    width: 400px;
    margin: 10px 0px 10px 0px ;
    display: flex;
    align-items: center;
    padding: 5px;
}


.tag-myTopic {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background: #f0eeee;
    margin: 0px 5px;
    font-size: 14px;
    padding: 5px;
    
}


