<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <%-include('../partials/main/header')%>
    <div id="dark-backgrund" onclick="clickDarkBack()"></div>

    <div id="contents">
        
        <%-include('../partials/main/mainContent')%>
        
        <div class="right-content">
            <div id="side-article">
                <div id="text-side-article">
                    <h1>Most viewd pages</h1>
                    <div></div>
                </div>
    
                <div id="side-content">
                    <div><img src="/image/pexels-kristina-paukshtite-1591252 (1).jpg" alt="aaa" width="280px" height="170px"></div>
                    <p>text about imgage</p>
                </div>
            </div>  
        </div>


    </div>
        <%-include('../partials/main/pageNav')%>
    
    <%-include('../partials/main/footer')%>

    <script src="/js/home.js"></script>
    <script src="/js/mainHeader.js"></script>
    
</body>
</html>