<div id="footer">
    <div id="contactUs">
        <div id="contactUs-line"></div>
        <div id="contactUs-info">
            <h1>Contact Us</h1>
            <div id="contact-btt">
                <button>E-mail</button>
                <button>000-000-000</button>
            </div>
        </div>

    </div>
    <div id="followUs">
        <div id="followUs-line"></div>
        <div id="followUs-info">
            <h1>Follow Us</h1>
            <div id="followUs-info-content">
                <div id="icons">
                    <button>ff</button>
                    <button>tt</button>
                    <button>ii</button>
                </div>
                <div id="textSocial">
                    <p>Facebook</p>
                    <p>Twitter</p>
                    <p>Instagram</p>
                </div>
            </div>

        </div>
    </div>
    <div id="quickNav">
        <div id="quickNav-line"></div>
        <div id="quickNav-content">
            <h1>Quick Navigation</h1>
            <div id="quickNav-text">
                <p>Home</p>
                <p>Hardwer</p>
                <p>Softwer</p>
                <p>Network</p>
                <p>Code</p>
                <p>About Us</p>
            </div>
        </div>
    </div>
</div>

<div id="copyRight">
    <p>© 2021 Company name, Inc. All Rights Reserved.</p>
</div>