<div id="main-header">
    <div id="logo-div">
        <img src="" alt="img.jpg">
    </div>
    <ul id="main-ul">
        <li class="main_list"><a class="hrefMainList" href="/category/hardware">Hardware</a></li>
        <li class="main_list"><a class="hrefMainList" href="/category/software" >Software</a></li>
        <li class="main_list"><a class="hrefMainList" href="/category/network" >Network</a></li>
        <li class="main_list"><a class="hrefMainList" href="/category/code">Code</a></li>
        <li class="main_list" id="drop-nav" onclick="dropDownList()">
            <p>Other</p>
            <div id="nav-other">
                <ul class="nav-other-menu">
                    <% tags.forEach(t => { %>
                        <li class="tag"><a class="tagHref" href="/category/<%=t.tag%>"><%=t.tag%></a></li>
                    <% }) %>
                </ul>
               
                
            </div>
        </li>
    </ul>

    <a href="/about">About Us</a>
</div>