<div id="main-header">
    <div id="logo-div">
        <img src="" alt="img.jpg">
    </div>
    <ul id="main-ul">
        <li class="main_list"><a class="hrefMainList" href="/category/hardware"><i class="fas fa-microchip"></i>  Hardware</a></li>
        <li class="main_list"><a class="hrefMainList" href="/category/software" ><i class="fab fa-windows"></i>  Software</a></li>
        <li class="main_list"><a class="hrefMainList" href="/category/network" ><i class="fas fa-server"></i>  Network</a></li>
        <li class="main_list"><a class="hrefMainList" href="/category/code"><i class="fas fa-code"></i>  Code</a></li>
        <li class="main_list" id="drop-nav" onclick="dropDownList()">
            <p><i class="fab fa-ubuntu"></i> Other</p>
            <div id="nav-other">
                <ul class="nav-other-menu">
                    <% tags.forEach(t => { %>
                        <li class="tag"><a class="tagHref" href="/category/<%=t.tag%>"><%=t.tag%></a></li>
                    <% }) %>
                </ul>
               
                
            </div>
        </li>
    </ul>

    <a href="/about">About Us</a>
</div>