<div id="main-header">
    <div id="logo-div">
        <img src="" alt="img.jpg">
    </div>
    <ul id="main-ul">
        <li class="main_list"><a class="hrefMainList" href="/hardware">Hardware</a></li>
        <li class="main_list"><a class="hrefMainList" href="/software" >Software</a></li>
        <li class="main_list"><a class="hrefMainList" href="/network" >Network</a></li>
        <li class="main_list"><a class="hrefMainList" href="/code">Code</a></li>
        <li class="main_list" id="drop-nav" onclick="dropDownList()">
            <p>Other</p>
            <div id="nav-other">
                <div id="container-nav-other-tags">
                    <div class="tagsHref">
                        <ul class="nav-other-menu">
                            <li class="tag"><a class="tagHref" href="">Tag1</a></li>
                            <li class="tag"><a class="tagHref" href="">Tag2</a></li>
                            <li class="tag"><a class="tagHref" href="">Tag3</a></li>
                            <li class="tag"><a class="tagHref" href="">Tag4</a></li>
                            <li class="tag"><a class="tagHref" href="">Tag5</a></li>
                    
                        </ul>
                    </div>

                    <div class="tagsHref">
                        <ul class="nav-other-menu">
                            <li class="tag"><a class="tagHref" href="">Tag1</a></li>
                            <li class="tag"><a class="tagHref" href="">Tag2</a></li>
                            <li class="tag"><a class="tagHref" href="">Tag3</a></li>
                            <li class="tag"><a class="tagHref" href="">Tag4</a></li>
                            <li class="tag"><a class="tagHref" href="">Tag5</a></li>
                    
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <a href="/about">About Us</a>
</div>