
<p><%= maxLeft %></p>
    <div id="bottom-nav">
        <div id="line"></div>
        <div id="nav-num">
            <button onclick="arrowButtonFanLeft()">First</button>
            <% for(let i = maxLeft; i <= maxRight; i++) { %>
                <button onclick="buttonList(event)" value="<%=i%>"><%=i%></button> 
            <% } %>
            <button onclick="arrowButtonFanRight(event)" value="<%= pages %>">Last</button>
    
        </div>
    </div>

