
    <div id="bottom-nav">
        <div id="line"></div>
        <div id="nav-num">
            <button onclick="arrowButtonFanLeft()">First</button>
            <button onclick="buttonList(event)" value="1">1</button>
            <button onclick="buttonList(event)" value="2">2</button>
            <button onclick="buttonList(event)" value="3">3</button>
            <button onclick="buttonList(event)" value="4">4</button>
            <button onclick="buttonList(event)" value="5">5</button>
            <button onclick="buttonList(event)" value="6">6</button>
            <button onclick="buttonList(event)" value="7">7</button>
            <button onclick="buttonList(event)" value="8">8</button>
            <button onclick="buttonList(event)" value="9">9</button>
            <button onclick="buttonList(event)" value="10">10</button>
            
            <button onclick="arrowButtonFanRight()">Last</button>
    
        </div>
    </div>

